<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="./styles/beta.css">
    <link rel="shortcut icon" href="./assets/icon-new.png" type="image/x-icon">
    <title>ArtBox | Beta</title>
</head>
<body>
    <nav class="navigator">
        <button class="menu-btn" id="menu">☰</button>
        <ul class="nav-tool" id="nav-tool">
            <li>Inicio</li>
            <li><a href="#galery">Imagenes</a></li>
            <li id="info-list">Información</li>
            <li><a href="mailto:rusty3031@gmail.com">Contacto</a></li>
        </ul>
        <div class="container">
            <h1 id="bigtext">ArtBox</h1>
            <span id="span" style="color: #fff; position: relative; top: 0; left: 5px;">BETA</span><br>
            <a href="#galery" id="btnGalery" class="btn-galery">Ver galeria</a>
        </div>
    </nav>

    <!-- galery -->
    <main id="galery">
        <div class="card">
            <div class="card-image">
                <img src="./assets/local_img/img.jpeg" alt="imagen">
            </div>
            <div class="pay">
                <button id="img-1">Descargar</button>
            </div>
        </div>
        <div class="card">
            <div class="card-image">
                <img src="./assets/local_img/img2.jpeg" alt="imagen">
            </div>
            <div class="pay">
                <button id="img-2">Descargar</button>
            </div>
        </div>
        <div class="card">
            <div class="card-image">
                <img src="./assets/local_img/img3.jpeg" alt="imagen">
            </div>
            <div class="pay">
                <button id="img-3">Descargar</button>
            </div>
        </div> 
        <div class="card">
            <div class="card-image">
                <img src="./assets/local_img/img4.jpeg" alt="imagen">
            </div>
            <div class="pay">
                <button id="img-4">Descargar</button>
            </div>
        </div> 
        <div class="card">
            <div class="card-image">
                <img src="./assets/local_img/img5.jpeg" alt="imagen">
            </div>
            <div class="pay">
                <button id="img-5">Descargar</button>
            </div>
        </div> 
        <div class="card">
            <div class="card-image">
                <img src="./assets/local_img/img6.jpeg" alt="imagen">
            </div>
            <div class="pay">
                <button id="img-6">Descargar</button>
            </div>
        </div>
        <div class="card">
            <div class="card-image">
                <img src="./assets/local_img/img7.jpeg" alt="imagen">
            </div>
            <div class="pay">
                <button id="img-7">Descargar</button>
            </div>
        </div>
        <div class="card">
            <div class="card-image">
                <img src="./assets/local_img/img8.jpeg" alt="imagen">
            </div>
            <div class="pay">
                <button id="img-8">Descargar</button>
            </div>
        </div>
        <div class="card">
            <div class="card-image">
                <img src="./assets/local_img/img9.jpeg" alt="imagen">
            </div>
            <div class="pay">
                <button id="img-9">Descargar</button>
            </div>
        </div>
        <div class="card">
            <div class="card-image">
                <img src="./assets/local_img/img10.jpeg" alt="imagen">
            </div>
            <div class="pay">
                <button id="img-10">Descargar</button>
            </div>
        </div><div class="card">
            <div class="card-image">
                <img src="./assets/local_img/img11.jpeg" alt="imagen">
            </div>
            <div class="pay">
                <button id="img-11">Descargar</button>
            </div>
        </div><div class="card">
            <div class="card-image">
                <img src="./assets/local_img/img12.jpeg" alt="imagen">
            </div>
            <div class="pay">
                <button id="img-12">Descargar</button>
            </div>
        </div><div class="card">
            <div class="card-image">
                <img src="./assets/local_img/img13.jpeg" alt="imagen">
            </div>
            <div class="pay">
                <button id="img-13">Descargar</button>
            </div>
        </div>
        <div class="card">
            <div class="card-image">
                <img src="./assets/local_img/img14.jpeg" alt="imagen">
            </div>
            <div class="pay">
                <button id="img-14">Descargar</button>
            </div>
        </div>
        <div class="card">
            <div class="card-image">
                <img src="./assets/local_img/img15.jpeg" alt="imagen">
            </div>
            <div class="pay">
                <button id="img-15">Descargar</button>
            </div>
        </div>
        <div class="card">
            <div class="card-image">
                <img src="./assets/local_img/img16.jpeg" alt="imagen">
            </div>
            <div class="pay">
                <button id="img-16">Descargar</button>
            </div>
        </div>
        <div class="card">
            <div class="card-image">
                <img src="./assets/local_img/img17.jpeg" alt="imagen">
            </div>
            <div class="pay">
                <button id="img-17">Descargar</button>
            </div>
        </div>
        <div class="card">
            <div class="card-image">
                <img src="./assets/local_img/img18.jpeg" alt="imagen">
            </div>
            <div class="pay">
                <button id="img-18">Descargar</button>
            </div>
        </div><div class="card">
            <div class="card-image">
                <img src="./assets/local_img/img19.jpeg" alt="imagen">
            </div>
            <div class="pay">
                <button id="img-19">Descargar</button>
            </div>
        </div><div class="card">
            <div class="card-image">
                <img src="./assets/local_img/img20.jpeg" alt="imagen">
            </div>
            <div class="pay">
                <button id="img-20">Descargar</button>
            </div>
        </div><div class="card">
            <div class="card-image">
                <img src="./assets/local_img/img21.jpeg" alt="imagen">
            </div>
            <div class="pay">
                <button id="img-21">Descargar</button>
            </div>
        </div>
        <div class="card">
            <div class="card-image">
                <img src="./assets/local_img/img22.jpeg" alt="imagen">
            </div>
            <div class="pay">
                <button id="img-22">Descargar</button>
            </div>
        </div><div class="card">
            <div class="card-image">
                <img src="./assets/local_img/img23.jpeg" alt="imagen">
            </div>
            <div class="pay">
                <button id="img-23">Descargar</button>
            </div>
        </div><div class="card">
            <div class="card-image">
                <img src="./assets/local_img/img24.jpeg" alt="imagen">
            </div>
            <div class="pay">
                <button id="img-24">Descargar</button>
            </div>
        </div>
        <div class="card">
            <div class="card-image">
                <img src="./assets/local_img/img25.jpeg" alt="imagen">
            </div>
            <div class="pay">
                <button id="img-25">Descargar</button>
            </div>
        </div><div class="card">
            <div class="card-image">
                <img src="./assets/local_img/img26.jpeg" alt="imagen">
            </div>
            <div class="pay">
                <button id="img-26">Descargar</button>
            </div>
        </div>
    </main>

<!-- scripts here -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="../model/beta.js"></script>
</body>
</html>