<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="../view/assets/icon-new.png"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="../view/styles/register.css" />
    <title>Registrarse en ArtBox</title>
  </head>
  <body>
    <div class="container">
      <div class="forms-container">
        <div class="signin-signup">
          <!-- login section -->
          <form action="#" class="sign-in-form">
            <h2 class="title">Iniciar sesión</h2>
            <div class="input-field">
              <i class="fas fa-user"></i>
              <input
                type="text"
                placeholder="Usuario"
                name="Usuario"
                id="Usuario"
              />
            </div>
            <input type="button" value="Iniciar Sesión" class="btn solid" />
            <p class="social-text">O regístrate con plataformas sociales</p>
            <div class="social-media">
              <a href="#" class="social-icon">
                <i class="fab fa-facebook-f"></i>
              </a>
              <a href="#" class="social-icon">
                <i class="fab fa-twitter"></i>
              </a>
              <a href="#" class="social-icon">
                <i class="fab fa-google"></i>
              </a>
              <a href="#" class="social-icon">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </div>
          </form>

          <!-- register section -->

          <form
            action="../controller/addUser.php"
            method="post"
            class="sign-up-form"
          >
            <h2 class="title">Regístrate</h2>
            <div class="input-field">
              <i class="fas fa-user"></i>
              <input
                type="text"
                placeholder="Ingrese su nombre de usuario"
                name="nameUser"
              />
            </div>
            <div class="input-field">
              <i class="fas fa-envelope"></i>
              <input
                type="email"
                placeholder="Ingrese su correo"
                name="emailUser"
              />
            </div>
            <div class="input-field">
              <i class="fas fa-lock"></i>
              <input
                type="password"
                placeholder="Ingrese su contraseña"
                name="passwordUser"
              />
            </div>
            <input
              type="submit"
              class="btn"
              value="Regístrate"
              name="registerBtn"
            />
            <p class="social-text">O regístrate con plataformas sociales</p>
            <div class="social-media">
              <a href="#" class="social-icon">
                <i class="fab fa-facebook-f"></i>
              </a>
              <a href="#" class="social-icon">
                <i class="fab fa-twitter"></i>
              </a>
              <a href="#" class="social-icon">
                <i class="fab fa-google"></i>
              </a>
              <a href="#" class="social-icon">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </div>
          </form>
        </div>
      </div>

      <div class="panels-container">
        <div class="panel left-panel">
          <div class="content">
            <h3>¿Eres Nuevo?</h3>
            <p>Has clik al siguiente botón para crear tu cuenta !</p>
            <button class="btn transparent" id="sign-up-btn">Regístrate</button>
          </div>
          <img
            src="https://i.pinimg.com/originals/72/82/fe/7282fee6a0641482ab4391b9638ee46c.png"
            class="image"
            alt=""
          />
        </div>
        <div class="panel right-panel">
          <div class="content">
            <h3>¿Ya tienes una Cuenta?</h3>
            <br />
            <button class="btn transparent" id="sign-in-btn">
              Iniciar Sesión
            </button>
          </div>
          <img
            src="https://i.pinimg.com/originals/77/29/f4/7729f497f9d0188fa35d41db45232cca.png"
            class="image"
            alt=""
          />
        </div>
      </div>
    </div>

    <script src="../model/register.js"></script>
  </body>
</html>
